.detail_article_wrapper {
    padding: 10px;
}
.article_detail_header {
    font-size: 20px;
    font-weight: bolder;

    padding: 10px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
}
.article_detail_header_firs_line {
    display: flex;
    font-size: 22px;
    justify-content: space-between;
}
.article_detail_type {
    
}
.article_detail_topic {
    
}
.article_title {
    
}
.article_detail_date {
    
}
.article_detail_header_second_line {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}
.article_difficult {
    display: flex;
}
.article_difficult span {
    align-self: center;
}


@media screen and (max-width: 600px) {
    .article_detail_header_second_line {
        flex-direction: column;
    }
}
