/* design of top of the site */
html,
body {
  height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/back2.png);
    background-repeat: repeat;
}

header {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}

nav {
    padding: 0px 40px 0px 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: solid 1px #434343;
}

.burger-button {
    cursor: pointer;
    display: none;
}

.menu-item {
    padding: 8px 8px 8px 8px;    
}

.menu-item:hover {
    background-color: #f0f0f0;
}
.menu-item:hover span{
    color: black;
}

.menu-item a {
    text-decoration: none;
}

.menu-item span {
    font-size: 20px;
    color: black;
    font-family: 'Bad Script', cursive;
    font-weight: 600;
}

.chosen-elem {
    background-color: black;
}
.chosen-elem span {
    color: white;
}

/* design of content on the site (including articles desing) */

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    
    
}

article {
    background-color: #f2f2f2;
    margin: 8px;
    padding: 10px;
    width: 800px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 2px;
}

.article-header {
    display: flex;
    flex-direction: column;
}

.article-header-first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-bottom: 1px solid gray;
}

.article-title span {
    font-size: 24px;
}

.article-header-second-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-bottom: 1px solid gray;
}

.article-difficult {
    display: flex;
    align-items: center;
}

.article-content {
    border-bottom: 1px solid gray;
    padding: 8px 0 8px 0;
}

.article-tags {
  
    font-size: 18px;
    font-weight: 100;
}

.article-footer {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.article-date {
    font-size: 20px;
    font-weight: 600;
}

.article-button {
    font-size: 24px;
}

.pagination {
    margin: 10px;
    font-size: 24px;
    
}

.pagination a {
    padding: 0px 4px 0 4px;
}

.current-page {
    background-color: #c3bebe;
}





/* footer design */

footer {
    background-color: #e5e5e5;
    padding: 10px;
    margin: 5px 0 0 0;
    font-size: 18px;
    border-radius: 8px;
    width: 800px;
    flex: 0 0 auto;
    
}

/* topic page design */
.topic-list {
    list-style: none;
    font-size: 24px;
}



/* main page adaptive design */
@media screen and (max-width:1030px){
    nav {
        padding: 20px 0 20px 0;
    }

    .menu-item span {
        font-size: 20px;
    }   
}

@media screen and (max-width: 920px){
    nav {
        padding: 10px 0 10px 0;
    }
    
    .menu-item {
        padding: 4px 4px 4px 4px;
    }
    
}

@media screen and (max-width:873px){
    nav {
        padding: 0;
    }
    
    .menu-item {
        padding: 4px 4px 4px 4px;    
    }
    
    .menu-item span {
        font-size: 18px;
    }
    
    article {
        width: 95%;
    }
    
    footer {
        width: 95%;
    }
}

@media screen and (max-width: 806px) {
    header {
        align-self: flex-start;
    }
    
    nav {
        flex-direction: column;
        border-bottom: none;
        align-items: flex-start;
    }
    
    .menu-item {
        display: none;
    }
    
    .burger-button {
        display: block;
    }
    
    .logo {
        display: none;
    }
    
    .menu-item a {
        display: block;
       
    }
    
}

@media screen and (max-width: 550px) {
    
    article {
        margin: 8px 0 0 0;
        padding: 2px;
    }
    
    .article-header-second-line {
        flex-direction: column;
    }
    
    .article-difficult {
        font-size: 14px;    
    }
    
    .pagination {
        margin: 4px;
        font-size: 20px;
    }

    .pagination a {
        padding: 0px 2px 0 2px;
    }
    
    footer {
        font-size: 14px;
    }
}
@media screen and (max-width: 280px) {
    .article-difficult {
        font-size: 12px;
    }    
}
