<!Doctype html>
<html>
    <head>
       
       {% load articles_extras %}
        <meta charset="utf-8">
        {% if request.path == '/'%}
        <title>Главная | Chemistry-world</title>
        {% elif request.path == 'articles/exercises' %}
        <title>Задачи | Chemistry-world</title>
        {% elif request.path == 'articles/topics/' %}
        <title>Разделы химии | Chemistry-world</title>
        {% elif request.path == 'articles/theories' %}
        <title>Теория | Chemistry-world</title>
        {% elif request.path == 'articles/scientists' %}
        <title>История химии | Chemistry-world</title>
        {% elif request.path == 'articles/search/' %}
        <title>Поиск статтей | Chemistry-world</title>
        {% endif %}
        
        {% block title %}
        
        {% endblock %}
        
        {% if request.path == '/'%}
        <meta name="description" content="На данном сайте вы сможете найти различные материалы для изучния химии. Интересные статьи из множества областей химиии от школьной программы до университета и примерные задачи различных олимпиад. Увлекательная химия ждёт вас!" />
        {% elif request.path == 'articles/exercises' %}
        <meta name="description" content="Сборник задач по химии с понятными объяснениями" />
        {% elif request.path == 'articles/topics/' %}
        <meta name="description" content="На этой странице находится перечень разделов химии по которым вы сможете подтянуть свои знания в этой прекрасной и несомненно важной науке" />
        {% elif request.path == 'articles/theories' %}
        <meta name="description" content="Если у вас проблемы с теорией химии, вы что-то недопоняли на уроке или было просто лень учить, то этот раздел для вас, в кротчайшие сроки и понятным языком мы предоставим объяснение того или иного материала" />
        {% elif request.path == 'articles/scientists' %}
        <meta name="description" content="Иногда хочется немного отдохнуть от привычных задач и кучи теории и просто почитать историю химиии, или другую историю, но здесь сайт про химию, по этому здесь только история химии" />
        {% elif request.path == 'articles/search/' %}
        <meta name="description" content="Нужно быстро повторить перед важной контрольной или экзаменом? Тогда быстро найдите нужную статью на нашем сайте!" />
        {% elif request.path|extsubstr:15 == '/articles/topic/' %}
        <meta name="description" content="{{short_description}}" />
        {% endif %}
        
        {% block metedesc %}
        
        {% endblock %}
        
        {% load static %}
        
        <link href='{% static "articles/main.css" %}' rel="stylesheet" type="text/css">
        <link href='{% static "articles/Exercsises_and_HardArticles.css" %}' rel="stylesheet" type="text/css">
        <script src="{% static 'articles/burg_menu.js' %}"></script>
        <script src="{% static 'articles/resize.js' %}"></script>
        {% block stylesheets %}
        
        {% endblock %}
        {% block scirpts %}
        
        {% endblock %}
    </head>
   <body>
        <header>
            <nav>
                <div class="logo"><a href="{% url 'index' %}"><img src=" {% static 'articles/img/ChemWorld_logo2.png' %}"></a></div>
                <div class="burger-button" onclick="show()"><img src="{% static 'articles/img/bm.png' %}"></div>
                
                {% if request.path == '/' %}
                    <div class="menu-item chosen-elem"><a href="{% url 'index' %}"><span>Главная</span></a></div>
                {% else %}
                    <div class="menu-item"><a href="{% url 'index' %}"><span>Главная</span></a></div>
                {% endif %}
                
                {% if request.path == '/articles/exercises' %}
                    <div class="menu-item chosen-elem"><a href="{% url 'articles:exercises' %}"><span>Задачи</span></a></div>
                {% else %}
                    <div class="menu-item"><a href="{% url 'articles:exercises' %}"><span>Задачи</span></a></div>
                {% endif %}
                
                {% if request.path == '/articles/topics/' %}
                <div class="menu-item chosen-elem"><a href="{% url 'articles:topics' %}"><span>Разделы химии</span></a></div>
                {% else %}
                <div class="menu-item"><a href="{% url 'articles:topics' %}"><span>Разделы химии</span></a></div>
                {% endif %}
                
                {% if request.path == '/articles/theories' %}
                <div class="menu-item chosen-elem"><a href="{% url 'articles:theories' %}"><span>Теория</span></a></div>
                {% else %}
                <div class="menu-item"><a href="{% url 'articles:theories' %}"><span>Теория</span></a></div>
                {% endif %}
                
                {% if request.path == '/articles/scientists' %}
                <div class="menu-item chosen-elem"><a href="{% url 'articles:scientists' %}"><span>История химии</span></a></div>
                {% else %}
                <div class="menu-item"><a href="{% url 'articles:scientists' %}"><span>История химии</span></a></div>
                {% endif %}
                
                {% if request.path == '/articles/search/' %}
                <div class="menu-item chosen-elem"><a href="{% url 'articles:search' %}"><span>Поиск статтей</span></a></div>
                {% else %}
                <div class="menu-item"><a href="{% url 'articles:search' %}"><span>Поиск статтей</span></a></div>
                {% endif %}
            </nav>
        </header>
        <main>
        {% block search %} {% endblock %}
       
        {% block content %}
         
        {% endblock %}  
        </main>
        {% block pagination %}
        
        {% endblock %}
        
         <footer>
            Web developer: Viktor Stokolos<br>
            Content manager: Dmytro Yavorski<br>
            Copyright © 2018-2019. All Rights Reserved.<br>
        </footer>
    
   </body>

</html>