{% extends "articles/base.html"%}
        {% block content %}
        {% load static %}
        {% load articles_extras %}
        {% for article in articles %}
        <article>

            <div class="artile-name-and-type">
               <span><a href="{% url 'articles:scientists_detail' scientist_id=article.id %}">{{article.name}}</a></span>
                <span class="article-type">
                <img src="{% static 'articles/img/Scientists_article.png' %}">
                </span>
            </div>

           <div class="article-body">
                {{article.text|safe|truncatewords:60}}
           </div>
           <div class="article_tags">
              {% for tag in article.tags.all %}
               <span class="tag"><a href="{% url 'articles:search'  %}?tag_name={{tag.name}}">#{{ tag.name }}</a></span>
              {% endfor %}
           </div>
           <div class="article-footer">
           <span class="article-data">{{article.pub_date|date:"d-m-Y"}}</span>
           <div class="article-button">
               <a href="{% url 'articles:scientists_detail' scientist_id=article.id %}">Перейти --></a>
           </div>
           </div>          

            
        </article>
        {% endfor %}
        {% include 'articles/blocks/pagination.html' %}
        
        {% endblock %}
