{% extends "articles/base.html"%}
        {% block content %}
        {% load static %}
        {% load articles_extras %}
        {% for article in articles %}
        <article>
          <div class="article_head">
            <div class="article_first_line">
                <span class="article_type">
                <img src="{% static 'articles/img/Scientists_article.png' %}">
                </span>
                <span class="artile_date">|{{article.pub_date|date:"d-m-Y"}}|</span>
                <span class="article_name scientist_article">{{article.name}}</span>  
            </div>
          </div>
           <div class="article_body">
               <div>
                {{article.text|safe|truncatewords:60}}
                </div>
           </div>
           <div class="article_tags">
              {% for tag in article.tags.all %}
               <span class="tag"><a href="{% url 'articles:search'  %}?tag_name={{tag.name}}">#{{ tag.name }}</a></span>
              {% endfor %}
           </div>          
           <div class="article_button">
               <a href="{% url 'articles:scientists_detail' scientist_id=article.id %}">Открыть статью</a>
           </div>
            
        </article>
        {% endfor %}
        {% include 'articles/blocks/pagination.html' %}
        
        {% endblock %}
