{% extends "articles/base.html"%}
        {% load static %}
        {%block stylesheets %}
        <link href="{% static 'articles/detail.css' %}" rel="stylesheet" type="text/css">
        {% endblock %}
       {% block content %}

        <article>
           <div class="detail_article_wrapper">
              <div class="article_detail_header">
               <div class="article_detail_header_firs_line">
                <div class="article_detail_type">
                    <img src="{% static 'articles/img/Scientists_article.png' %}">
                </div> 
               </div>
                 <div class="article_title">
                     {{scientist.name}}
                 </div>
                  <div class="article_detail_date">
                      {{scientist.pub_date|date:"d-m-Y"}}
                  </div>
              </div>
               <div class="article_body">
                    {{scientist.text|safe}}
               </div>

           </div>

        </article>
        {%endblock%}