
{% extends 'articles/base.html' %}
{% block content%}
{% load static %}
{% load articles_extras %}
<div class="topic-list-wrapper">
{% for item, info in articles %}
    {% if info.open %}
        <ul class="topic-list"><li><a href="{% url 'articles:topic' topic_name=item|substr %}">
    {% else %}
        </a></li><li><a href="{% url 'articles:topic' topic_name=item|substr %}">
        
    {% endif %}

    {{ item }}

    {% for close in info.close %}
        </a></li></ul>
    {% endfor %}
{% endfor %}   
</div>

{% endblock %}