{% extends 'articles/base.html' %}
        {%block content %}
        {% load static %}
        {% load articles_extras %}
        {% for article in articles %}
        
        <article>
          <div class="article_head">
            <div class="article_first_line">
               
                <span class="article_type">
                {% if article.exerciese_or_theory == 'theory' %}
                <img src="{% static 'articles/img/Theory_article.png' %}">
                {% elif article.exerciese_or_theory == 'exercise' %}
                <img src="{% static 'articles/img/Exercise_detail.png' %}">
                {% else %}
                <img src="{% static 'articles/img/Scientists_article.png' %}">
                {% endif %}
                </span>
                <span class="artile_date">|{{article.pub_date|date:"d-m-Y"}}|</span>
                
                {% if article.exerciese_or_theory %}
                <span class="article_name">{{article.name}}</span>
                <span class="article_difficult">
                    Сложность:
                    {% if article.hard >= 1 %}
                    <img src="{% static 'articles/img/red_colba_opacity.png' %}">
                    {% endif %}
                    {% if article.hard >= 2  %}
                    <img src="{% static 'articles/img/red_colba_opacity.png' %}">
                    {% endif %}
                    {% if article.hard >= 3  %}
                    <img src="{% static 'articles/img/red_colba_opacity.png' %}">
                    {% endif %}
                    {% if article.hard >= 4  %}
                    <img src="{% static 'articles/img/red_colba_opacity.png' %}">
                    {% endif %}
                    {% if article.hard == 5  %}
                    <img src="{% static 'articles/img/red_colba_opacity.png' %}">
                    {% endif %}
                    {% else %}
                    <span class="article_name scientist_article">{{article.name}}</span>
                </span>
                {% endif %}
            </div>
            <div class="article_second_line">
                <span class="article_topic"><a href="{% url 'articles:topic' topic_name=article.topic.name|substr %}">{{article.topic}}</a></span>   
            </div>
          </div>
           <div class="article_body">
               <div>
                {{article.text|safe|truncatewords:60}}
                </div>
           </div>
           <div class="article_tags">
              {% for tag in article.tags.all %}
               <span class="tag"><a href="{% url 'articles:search'  %}?tag_name={{tag.name}}">#{{ tag.name }}</a></span>
              {% endfor %}
           </div>          
           <div class="article_button">
              {% if article.exerciese_or_theory == 'theory' %}
               <a href="{% url 'articles:theories_detail' article_id=article.id %}">Открыть статью</a>
               {% elif article.exerciese_or_theory == 'exercise' %}
               <a href="{% url 'articles:exercise_detail' article_id=article.id %}">Открыть статью</a>
               {% else %}
               <a href="{% url 'articles:scientists_detail' scientist_id=article.id %}">Открыть статью</a>
               {% endif %}
           </div>
            
        </article>
        {% endfor %}
        {% if type_i_or_t == 'topic' %}
<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page=1">&laquo;</a>
            <a href="?page={{ articles.previous_page_number }}">previous</a>
        {% else %}
            <a href="?page=1">&laquo;</a>
            <a href="?page=1">previous</a>        
        {% endif %}
        
        {% if articles.paginator.num_pages <= 3  %}
        {% for num in articles.paginator.page_range %}
            {% if forloop.counter != articles.number %}
            <a href="?page={{ num }}">{{ num }}</a>
            {% else %}
            <a class="current_page" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
            {% endif %}
        {% endfor %}
        {% elif articles.paginator.num_pages >= 3 and articles.number < 3 %}
            {% for num in 'xxx' %}
                {%if forloop.counter != articles.number %}
                <a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                {% else %}
                <a class="current_page" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                {% endif %}
            {% endfor %}
        {% elif articles.paginator.num_pages >= 3 and articles.number >= 3 %}

            {% for num in 'xx' %}
                    {% if  articles.number|substract:forloop.counter >= 1 %}
                       {%if forloop.counter == 1 %}
                        <a href="?page={{articles.number|substract:2}}">{{articles.number|substract:2}}</a>
                        {%elif forloop.counter == 2 %}
                        <a href="?page={{articles.number|substract:1}}">{{articles.number|substract:1}}</a>
                        {% endif %}
                    {% endif %}
            {% endfor %}
           
            <a class="current_page" href="?page={{articles.number}}">{{articles.number}}</a>
            {% for num in 'xxx' %}
                {% if articles.number|add:forloop.counter <= articles.paginator.num_pages %}
                    <a href="?page={{ articles.number|add:forloop.counter }}">{{ articles.number|add:forloop.counter }}</a>
                {% endif %}
            {% endfor %}

        {% endif %}
        
        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">next</a>
            <a href="?page={{ articles.paginator.num_pages }}">&raquo;</a>
        {% else %}
            <a href="?page={{ articles.paginator.num_pages }}">next</a>
            <a href="?page={{ articles.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </span>
</div>
        {% endif %}
        {% endblock %}
        